.ant-table-thead tr th.ant-table-cell{
    background-color: #1D4953!important;
    color:  #FFF;
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 13px 10px;
}

.ant-table-column-sorters span{
    color:  #FFF;
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.ant-table-tbody tr.ant-table-row td.ant-table-cell,.ant-table-tbody tr.ant-table-row td.ant-table-cell a {
    color: #323232;
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ant-table-tbody tr.ant-table-row td.ant-table-cell:nth-child(6) span  {
    width: 121px;
    height: 36px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    display: flex;
    color:  #FFF;
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
}
.ant-table-tbody tr.ant-table-row td.ant-table-cell:nth-child(7) span{
    display: flex;
    width: 69px;
    height: 36px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #388697;
    color:  #FFF;
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
/* .ant-table-tbody tr.ant-table-row td.ant-table-cell:nth-child(7),.ant-table-tbody tr.ant-table-row td.ant-table-cell:nth-child(6){
    display: flex;
    justify-content: center;
} */
.ant-table-cell .ant-space{
    display: flex;
    justify-content: center;
}
tbody tr td.ant-table-cell:nth-child(7)
{
    display: flex;
    justify-content: center;
}
tbody tr td.ant-table-cell:nth-child(6) span
{
    margin-right: 0;
}
.ant-table-wrapper .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before{
    height: 46px;
}
.timepicker{
    height: 36px;
    padding: 9px 10px;
    margin-left: 0;
}
.ant-picker .ant-picker-input >input{
    margin-left: 0;
}
.ant-table-thead tr th:nth-child(6){
    text-align: center;
}
