@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600&display=swap');

.formTitle {
    font-family: 'Be Vietnam Pro';
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    color: #225560;
    margin-bottom: 50px;
}

.label {
    font-family: 'Be Vietnam Pro';
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    color: #383838;
    margin-left: 80px;
}

.formControl {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

.errorMessage {
    float: right;
    margin-right: 290px;
}

.Input {
    height: 44px;
    width: 329px;
    border: 2px solid #225560;
    border-radius: 8px;
    padding: 10px 24px 10px 24px;
    gap: 10px;
    margin-right: 90px;
    float: right;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.addbtn{
    width:228px ;
    height: 52px;
    color: #FFF;
    font-family: Be VietNam Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background:  #225560;
    border-radius: 8px;
    border: none;
}

.buttonAdd {
    width: 240px;
    height: 52px;
    padding: 10px;
    border-radius: 8px;
    margin-left: 200px;
    background-color: #8B8B8B;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    cursor: pointer;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
}

.buttonCancel {
    width: 240px;
    height: 52px;
    padding: 10px;
    border-radius: 8px;
    margin-right: 200px;
    background-color: white;
    color: #225560;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    cursor: pointer;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
}