
.imageStyle {
    width: 100%;
    height: 100%;
}
.loginbtn{
    display: flex;
    width: 339px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background:#8B8B8B;
    color:#FFF;
    font-family: Be Vietnam Pro;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 16px;
    border: none;
}

.inputsection{
    display: flex;
    width: 339px;
    height: 52px;
    padding: 0px 8px;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    border: none;
    border-bottom: 2px solid #225560;
    opacity: 0.6;
    justify-content: center;
    margin-bottom: 24px;
}

.input{
    position: relative;
}
.input input{
    padding-left: 40px;
}
.icon{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
.forgot{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    align-items: center;
}
.customlink{
    text-decoration: none;
    color: #225560;
    font-size: 14px;
    font-family: Be Vietnam Pro;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.account{
    display: flex;
    gap: 25px;
    align-items: center;
}
.account p{
    padding: 0;
    margin: 0;
}
.inputform{
    margin-top:148px;
}
.showhide{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}