
.imageStyle {
    width: 100%;
    height: 100%;
}
.loginbtn{
    display: flex;
    width: 339px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background:#8B8B8B;
    color:#FFF;
    font-family: Be Vietnam Pro;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 16px;
    border: none;
}
.cus{
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    margin: 50% 0;
}
.inputsection{
    display: flex;
    width: 339px;
    height: 52px;
    padding: 0px 8px;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    border: none;
    border-bottom: 2px solid #225560;
    opacity: 0.6;
    justify-content: center;
}
.inputsection::placeholder{
    padding-left: 32px;
}
.input{
    position: relative;
}
.icon{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
.forgot{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    align-items: center;
}
.customlink{
    text-decoration: none;
    color: #225560;
    font-size: 14px;
    font-family: Be Vietnam Pro;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.account{
    display: flex;
    gap: 25px;
}
.inputform{
    margin-top:148px;
}
.closebtn{
    color:  #225560;
    font-family: Be Vietnam Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    width: 240px;
    height: 52px;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid  #225560;
}
.editbtn{
    display: flex;
    width: 207px;
    height: 44px;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid  #388697;
    background:  #FFF;
    margin-bottom: 44px;

    color:  #388697;
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.editsection{
    display: flex;
    justify-content: flex-end;
}
.passbtn{
    border: none;
    color:  #FFF;
    font-family: Be Vietnam Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    width: 240px;
    height: 52px;
    padding: 10px;
    border-radius: 8px;
    background:#225560;
}
.btngroup{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;
}
.inputform1{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.inputform1 input{
    display: flex;
    width: 339px;
    height: 52px;
    padding: 0px 40px;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    border: none;
    border-bottom: 2px solid #225560;
    opacity: 0.6;
    justify-content: center;

}
.inputform1 label{
    color: #383838;
    font-family: Be Vietnam Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex: 1;
    margin-bottom: 5px;
}
.showhide{
    position: absolute;
    margin-left: 20%;
    transform: translate(0, -50%);
    margin-top: 25px;
}
.icon1{
    position: absolute;
    transform: translate(0, -50%);
    margin-top: 35px;
}
